<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<title>Malitary News Analyse</title>
<!-- 插入jquery -->
<script src="{{url_for('static', filename='jquery.js')}}"></script>
<script type=text/javascript>
var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
var filename = "nihao"
var count
</script>
<script type=text/javascript>
$(function() {
    function crawl(e){
        $.getJSON($SCRIPT_ROOT + '/crawl', {
            
        },
        function(data) {
            $('#crawl_state').text(data.crawl_state);
        });
    };
    $('#crawl').bind('click', crawl);

    function get_art_count(e){
        $.getJSON($SCRIPT_ROOT + '/query_art_count', {
            date_st: $('input[name = "date_start"').val(),
            date_end: $('input[name = "date_end"').val(),
            days: $('input[name = "days"').val(),
        },
        function(data) {
            // var count = $data.count
            count = data.count
            $('#art_count').text(count);
            // $('#art_count').text(data.count);
        });
    };
    $('#q_art').bind('click', get_art_count);

    function exist(e){
        $.getJSON($SCRIPT_ROOT + '/exist', {
            date_st: $('input[name = "date_start"').val(),
            date_end: $('input[name = "date_end"').val(),
            days: $('input[name = "days"').val(),
            n_clusters: $('input[name = "n_clusters"').val()
        },
        function(data) {
            $('#is_exist').text(data.result)
        });
    };
    $('#judge_exist').bind('click', exist);

    function analyse(e){
        $.getJSON($SCRIPT_ROOT + '/analyse', {
            date_st: $('input[name = "date_start"').val(),
            date_end: $('input[name = "date_end"').val(),
            days: $('input[name = "days"').val(),
            n_clusters: $('input[name = "n_clusters"').val()
        },
        function(data) {
            var mds = data.mds +'?t=' + Math.random();
            var pca = data.pca +'?t=' + Math.random();
            var bar = data.bar +'?t=' + Math.random();
            var pie = data.pie +'?t=' + Math.random();
            var date_range = data.date_range;
            $('#filename').prepend('<img src= '+pie+'  width = "100%"/>');
            $('#filename').prepend('<img src= '+bar+'  width = "100%"/>');
            $('#filename').prepend('<img src= '+pca+'  width = "100%"/>');
            $('#filename').prepend('<img src= '+mds+'  width = "100%"/>');
            $('#filename').prepend('<h1 style="background-color:#7a7a7a;color:#fff;padding-left:30%;padding-right:30%"> '+ date_range +'</h1>')
        });
    };
    $('#data_analyse').bind('click', analyse);
});
</script>
</head>
<body style="background-color: #EEEEEE;font-size:20px">
<div style="padding-right: 20%;padding-left: 30%;padding-top: 50px">
    <a href = "http://127.0.0.1:5000/test">Click me Jmpu to test!</a>
    <p><input type="button" id="crawl" value="Crawl News"></p>
    <p>Crawl State:<div id = "crawl_state" style="white-space: pre;color:#436eee"></div></p>
    <p>
        Start date: <input type="text" name = "date_start" />
        End date: <input type="text" name = "date_end" />
    </p>
    <p>
        Days ago: <input type="text" name="days" value=5 />
        N-Clusters: <input type="text" name="n_clusters" value=0 />
    </p>
    <p><input type="button" id="q_art" value="Query"></p>
    <p>Article Count: <span id ="art_count" style="color:#436EEE"></span></p>
    <p>Is exist Result?: <span id = "is_exist" style="color:#436EEE"></span></p>
    <p><input type="button" id="judge_exist" value="Exist"><label style="padding-right: 10px"></label>
    <input type="button" id="data_analyse" value="Analyse"></p>
</div>

<p><span id = "filename"></span></p>
</body>
</html> 